.chosen-role-card__wrapper {
  margin-top: 2rem;
}
.chosen-role-card {
  background-color: #f4f4fa;
  text-align: left;
  border-radius: 1.5rem;
  padding: 2rem;
}

.chosen-role-card__title {
  color: #ffffff;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.chosen-role-card__subtitle {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
