.skills-card {
  display: flex;
  flex-wrap: wrap;
}

.skills-card__wrapper {
  margin-top: 2rem;
  border-top: 1px dotted #616161;
  padding-top: 1rem;
}

.skills-card__title {
  color: #000000;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
