.program-card {
  background-color: #ffffff;
  border-radius: 0.6rem;
  padding: 1rem;
  padding: 0 1.3rem;
  background-color: #ffffff;
  flex: 1;
  height: fit-content;
  margin: 12px;
}

.program-card__option {
  color: #616161;
  font-size: 0.9rem;
  margin: 1rem 0;
  border-bottom: 1px dotted #616161;
  padding-bottom: 1rem;
}

.program-card__title {
  font-size: 1.2rem;
}
.program-card__description {
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-top: 1rem;
  color: #616161;
}
.program-card__skill-ratio {
  margin-top: 1rem;
  color: #2a29a4;
  font-size: 0.9rem;
  border-bottom: 1px dotted #616161;
  padding-bottom: 0.9rem;
}

.program-card__button {
  width: 100%;
  background: #f18885;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.program-card__link {
  text-decoration: none;
  font-size: 0.8rem;
  color: #2a29a4;
  font-weight: 600;
}
