.skill__tile {
  background-color: #ffffff;
  display: flex;
  line-height: 21px;
  align-items: center;
  border-radius: 0.6rem;
  margin-top: 0.8rem;
  padding: 0.8rem;
  flex-direction: column;
}

.skill__title {
  font-size: 1rem;
  margin: 14px 0;
  color: #69696c;
  font-weight: 650;
}

.skill__icon {
  margin-right: 0.6rem;
  border-radius: 50%;
  padding: 8px;
  box-sizing: content-box;
  font-size: 0.9rem;
  color: #c36900;
  min-width: 1rem;
  border: 2px solid;
  align-items: center;
  display: flex;
}

.skill__main {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.skill__content {
  align-items: center;
  display: flex;
}
.skill__title {
  font-size: 0.9rem;
}

.skill__description {
  font-size: 0.8rem;
  color: #69696c;
  width: 100%;
  margin-top: 9px;
}

.skills__toggle-icon {
  color: #2a29a4;
  padding-right: 0.7rem;
  font-size: 0.8rem;
  box-sizing: content-box;
}

.skill__description-visible {
  visibility: visible;
}

.skill__description-hidden {
  display: none;
}

.skills__toggle-button {
  border: none;
}
