.sharing-card {
  background-color: #f4f4fa;
  text-align: left;
  border-radius: 1.5rem;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.sharing-card__button {
  width: 100%;
  background: #f18885;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: none;
}
.sharing-card__link {
  text-decoration: none;
  font-size: 0.9rem;
  color: #2a29a4;
  font-weight: 600;
}
.sharing-card__fineprint {
  font-size: 0.9rem;
}
.text-highlight {
  color: #2a29a4;
}

#sharing-card__icon {
  color: #2a29a4;
  margin-left: 0.4rem;
}
