.student-summary-card__wrapper {
  margin-top: 2rem;
}
.student-summary-card {
  background-color: #f4f4fa;
  text-align: left;
  border-radius: 1.5rem;
  padding: 2rem;
}

.summary-card__title {
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1.4rem;
  margin-left: 1.5rem;
}

.summary__header {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.summary__title {
  font-size: 1.3rem;
  margin: 14px 0;
  font-weight: 600;
}

.summary__row {
  display: flex;
  line-height: 21px;
  align-items: center;
}

.summary__icon {
  color: #69696c;
  margin-right: 0.6rem;
  max-width: 0.9rem;
}

#profile__icon {
  color: #2a29a4;
  background-color: #dcdcdc;
  border-radius: 50%;
  padding: 8px;
  box-sizing: content-box;
  font-size: 0.9rem;
}

.summary__item {
  font-size: 14px;
  color: #69696c;
  font-weight: 650;
}
