.skill-tile {
  color: #2a29a4;
  width: fit-content;
  background-color: #e2dfdf;
  border-radius: 0.2rem;
  padding: 0.6rem;
  margin-right: 0.6rem;
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  margin-top: 0.8rem;
}
