* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  padding: 24px;
  margin: 0 auto;
}
