.chosen-role__header {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.chosen-role__title {
  font-size: 1.2rem;
  margin: 14px 0;
}

.summary__row {
  display: flex;
  line-height: 21px;
  align-items: center;
}

.summary__icon {
  color: #69696c;
  margin-right: 0.6rem;
  max-width: 0.9rem;
}

#chosen-role__icon {
  color: #2a29a4;
  background-color: #dcdcdc;
  border-radius: 50%;
  padding: 8px;
  box-sizing: content-box;
  font-size: 0.9rem;
}

.summary__item {
  font-size: 14px;
  color: #69696c;
  font-weight: 400;
}

.positive-change {
  color: #1fbc37;
}

.high-demand {
  color: #1fbc37;
}

.med-demand {
  color: #cc6e00;
}

.low-demand {
  color: #c00c00;
}
